@import "mixins";

.bottom-footer {
  width: 100%;
  height: 20rem;
  background-color: rgb(245, 245, 245, 1);
  display: flex;
  justify-content: space-between;
  padding: 3rem 10rem;

  @include mobile {
    padding: 1rem;
    flex-wrap: wrap;
    gap: 2rem;
    height: fit-content;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    &-header-text {
      font-size: 20px;
      line-height: 20px;
      color: rgb(15, 15, 15, 1);
      font-weight: 600;
      text-align: left;
      margin-bottom: 0.5rem;
    }

    &-list-text {
      font-size: 14px;
      line-height: 24px;
      color: rgb(84, 84, 84, 1);
      font-weight: 400;
      text-align: left;
    }
  }
}
