@import "mixins";

.login-drawer {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;

  @include mobile {
    width: 200px;
    padding: 0rem;
  }

  &-info {
    display: flex;
    gap: 1rem;

    &-close-icon {
      cursor: pointer;

      @include mobile {
        display: none;
      }
    }

    &-text {
      line-height: 24px;
      font-size: 16px;
      color: #212121;
      font-weight: 500;

      @include mobile {
        color: #646464;
        font-weight: 400;
      }
    }
  }

  &-content {
    display: flex;
    padding: 1rem;

    @include mobile {
      flex-direction: column;
      gap: 1rem;
    }

    &-dropdown {
      font-size: 14px;
    }
  }

  &-continue-button {
    background-color: #212121;
    color: white;
    margin: 0rem 1rem;
  }
}
